<div class="container">
  <div class="col-md-11" style="margin:0px auto;">
    <div class="title">
    <h2 style="float:left;">Top Questions</h2>
    <%= link_to '<i class="fas fa-question-circle"></i> Ask Question'.html_safe, new_question_path, class: "btn btn-info float-right" %>
    </div>
    <div class="clearfix"></div>
    <hr style="margin-top: 0px;">
    <div class="question-list">
      <% @questions.each do |question| %>
      <div class="question">
        <div class="question-info">
          <div class="upvotes">
            <i class="fas fa-thumbs-up"></i> <%= question.upvotes_count %>
          </div>
          <div class="solutions">
            <i class="fas fa-comment-alt"></i> <%= question.solutions_count %>
          </div>
          <div class="favorites">
            <i class="fas fa-heart"></i> <%= question.favorites_count %>
          </div>
          <%= link_to "收藏", favorite_question_path(question), method: :post, data: { :"disable-with" => "Waiting...." } %> ｜
          <%= link_to "取消收藏", unfavorite_question_path(question), method: :post %>
          (後端已好，前端請使用 ajax 實作QQ)
        </div>
        <div class="question-content">
          <%= link_to question_path(question) do %>
          <h5><%= question.title %></h5>
          <% end %>
          <p><%= truncate(question.content, length: 100) %></p>
          <div class="user-info">
            <div class="user">
              <div class="user-avatar">
                 <%= image_tag "http://via.placeholder.com/30x30"  %>
              </div>
              <div class="user-name">
                <h6><%= question.user.name.upcase_first %></h6>
              </div>
            </div>
            <div class="action-time">
              <p><%= question.created_at.to_s[0..15] %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
        <hr>
      <% end %>
    </div>
  </div>

  <div style="margin-top: 30px;">
    <%= paginate @questions %>
  </div>
</div>