<div class="container">
  <div class="col-md-11" style="margin:0px auto;">
    <div class="title">
      <h2 style="float:left;">Top Questions</h2>
      <%= link_to '<i class="fas fa-question-circle"></i> Ask Question'.html_safe, new_question_path, class: "btn btn-info float-right" %>
    </div>
    <div class="clearfix"></div>
    <hr style="margin-top: 0px;">
    <div class="question-list">
      <% @questions.each do |question| %>
      <div class="row" style="margin: 20px auto;">
        <div class="col-2 q-info">
          <div class="upvotes">
            <i class="fas fa-thumbs-up"></i> <%= question.upvotes_count %>
          </div>
          <div class="solutions">
            <i class="fas fa-comment-alt"></i> <%= question.solutions_count %>
          </div>
          <div class="favorites">
            <i class="fas fa-heart"></i> <%= question.favorites_count %>
          </div>
        </div>

        <div class="col-8 q-content">
          <%= link_to question_path(question) do %>
            <h5><%= question.title %></h5>
          <% end %>
          <p><%= truncate(question.content, length: 100) %></p>
        </div>

        <div class="col-2 user-box">
          <%= link_to user_path(question.user) do %>
            <div class="user">
              <div class="user-avatar">
                <%= image_tag question.user.avatar,width: '40px',height: '40px' if question.user.avatar? %>
                <%= image_tag "http://via.placeholder.com/40x40", class: "rounded"  unless question.user.avatar?%>
              </div>
              <div class="user-name">
                <h6><%= question.user.name.upcase_first %></h6>
              </div>
            </div>
          <% end %>

          <div class="action-time">
            <em><%= question.created_at.to_s[0..15] %></em>
          </div>
        </div>
      </div>
      <hr>
      <% end %>
    </div>
  </div>

  <div style="margin-top: 30px;">
    <%= paginate @questions %>
  </div>
</div>