<div class="container">
    <div class="title">
    <h2><%= @question.title %></h2>
    </div>
    <hr>
    <div class="question">
     <%= link_to "投贊成票", upvote_question_path(@question), method: :post, data: { :"disable-with" => "Waiting...." } %> ｜<%= link_to "收回贊成票", unupvote_question_path(@question), method: :post %>
          
      <i class="fas fa-caret-up"></i>
        <%= @question.upvotes_count %>
      <i class="fas fa-caret-down"></i>
      <%= link_to "投反對票", downvote_question_path(@question), method: :post, data: { :"disable-with" => "Waiting...." } %> ｜<%= link_to "收回反對票", undownvote_question_path(@question), method: :post %> 
      <br>
      
      <i class="fas fa-heart"></i><%= @question.favorites_count %> <br>
      <%= @question.content %> <br>
      <%= @question.user.name.upcase_first %>
      <%= @question.created_at.to_s[0..15] %>
    </div>
</div>

<div class="container">
   
    <% @solution_by_upvote.each do |solution| %>
    <div>
     <i class="fas fa-caret-up"></i><%= solution.upvotes_count %><i class="fas fa-caret-down"></i> <br>
      <h5><%= solution.user.name %></h5>
      <p><%= simple_format solution.content %></p>
      <p class="text-muted">
        <em><%= time_ago_in_words(solution.created_at) %> ago</em>
      </p>
    </div>
    <hr>
    <% end %> 
   
    <%= form_for [@question, @solution] do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "請在這裡輸入你想回答的敘述", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "確認", class: "btn btn-primary" %>
      <%= f.button "清空", type: :reset, class: "btn btn-default" %>
    </div>
  <% end %>
</div>


