<div class="container">

    <h2><%= @question.title %></h2>
    <hr style="margin-top: 0px;">

    <div class="row question" id="<%= @question.id %>">
      <div class="col-1 q-info">
        <div class="vote">
          <i class="fas fa-caret-up"></i>
          <p style="margin-bottom: 0;"><%= @question.upvotes_count %></p>
          <i class="fas fa-caret-down"></i>
        </div>
        <div class="favorite">
          <% if @question.is_favorited?(current_user) %>
            <i class="unfavorite-btn fas fa-heart text-danger"></i>
          <% else %>
            <i class="favorite-btn fas fa-heart"></i>
          <% end %>
          <p class="favorites_count"><%= @question.favorites_count %></p>
        </div>
      </div>
      <div class="col-9" style="margin-top: 20px;">
        <%= @question.content %>
      </div>
      <div class="col-2" style="margin-top: 20px;">
        <div class="user-box">
          <%= link_to user_path(@question.user) do %>
            <div class="user">
              <div class="user-avatar">
                <%= image_tag @question.user.avatar,width: '40px',height: '40px' if @question.user.avatar? %>
                <%= image_tag "http://via.placeholder.com/40x40", class: "rounded"  unless @question.user.avatar?%>
              </div>
              <div class="user-name">
                <h6><%= @question.user.name.upcase_first %></h6>
              </div>
            </div>
            <% end %>
            <div class="action-time">
              <em><%= @question.created_at.to_s[0..15] %></em>
            </div>
          </div>
      </div>
    </div>

<!-- solution -->
    <hr>
    <div class="question">
      <%= link_to "投贊成票", upvote_question_path(@question), method: :post, data: { :"disable-with" => "Waiting...." } %> ｜<%= link_to "收回贊成票", unupvote_question_path(@question), method: :post %>
          
      <i class="fas fa-caret-up"></i>
        <%= @question.upvotes_count %>
      <i class="fas fa-caret-down"></i>
      <%= link_to "投反對票", downvote_question_path(@question), method: :post, data: { :"disable-with" => "Waiting...." } %> ｜<%= link_to "收回反對票", undownvote_question_path(@question), method: :post %> 
      <br>
      
      <i class="fas fa-heart"></i><%= @question.favorites_count %> <br>
      <%= @question.content %> <br>
      <%= @question.user.name.upcase_first %>
      <%= @question.created_at.to_s[0..15] %>
    </div>
</div>

<div class="container">
   
    <% @solution_by_upvote.each do |solution| %>
    <div>
      <%= link_to "投贊成票", upvote_question_solution_path(@question, solution), method: :post, data: { :"disable-with" => "Waiting...." } %> ｜<%= link_to "收回贊成票", unupvote_question_solution_path(@question, solution), method: :post %>
      
      <i class="fas fa-caret-up"></i>
      <%= solution.upvotes_count %>
      <i class="fas fa-caret-down"></i> 
      <%= link_to "投反對票", downvote_question_solution_path(@question, solution), method: :post, data: { :"disable-with" => "Waiting...." } %> ｜<%= link_to "收回反對票", undownvote_question_solution_path(@question, solution), method: :post %>
      <br>
      
      <h5><%= solution.user.name %></h5>
      <p><%= simple_format solution.content %></p>
      <p class="text-muted">
        <em><%= time_ago_in_words(solution.created_at) %> ago</em>
      </p>
    </div>
    <hr>
    <% end %> 
   
    <%= form_for [@question, @solution] do |f| %>
    <div class="form-group">
      <%= f.text_area :content, placeholder: "請在這裡輸入你想回答的敘述", class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "確認", class: "btn btn-primary" %>
      <%= f.button "清空", type: :reset, class: "btn btn-default" %>
    </div>
  <% end %>
</div>
<!-- solution -->


<script>
$(".favorite").on('click', '.favorite-btn', function(event){
  var question_id = event.target.parentNode.parentNode.parentNode.id;
  console.log(question_id);

    $.ajax({
      url: "/questions/" + question_id + "/favorite" ,
      method: "POST",
      dataType: "json",
      success: function(data) {
        console.log(data["favorites_count"]);

        $(".q-info").find(".favorite-btn").remove();
        $(".favorite").find("p").remove();
        $(".q-info").find(".favorite").append("<i class=\"unfavorite-btn fas fa-heart text-danger\"></i>");
        $(".q-info").find(".favorite").append("<p class=\"favorites_count\">"+ data["favorites_count"] +"</p>");
        console.log(question_id);
      }
    });
});

$(".favorite").on('click', '.unfavorite-btn', function(event){
  var question_id = event.target.parentNode.parentNode.parentNode.id;
  console.log(question_id);

    $.ajax({
      url: "/questions/" + question_id + "/unfavorite" ,
      method: "POST",
      dataType: "json",
      success: function() {
        var favorites_count = $(".favorite").find(".favorites_count").html();
        console.log(favorites_count);

        $(".q-info").find(".unfavorite-btn").remove();
        $(".favorite").find("p").remove();
        $(".q-info").find(".favorite").append("<i class=\"favorite-btn fas fa-heart\"></i>");
        $(".q-info").find(".favorite").append("<p>"+ [favorites_count -1] +"</p>");
        console.log(question_id);
      }
    });
});
</script>
