<div class="container">

    <h2><%= @question.title %></h2>
    <hr style="margin-top: 0px;">

    <div class="row question" id="<%= @question.id %>">
      <div class="col-1 q-info">
        <div class="vote question-vote">

          <% if @question.have_voted?(current_user) && @question.voted_upvote?(current_user) == true %>
            <span class="fas fa-caret-up unupvote-question" style="color: orange;"></span>
            <p class="upvotes_count" style="margin-bottom: 0;"><%= @question.upvotes_count %></p>
            <span class="fas fa-caret-down downvote-question" style="pointer-events: none;"></span>

          <% elsif @question.have_voted?(current_user) && @question.voted_upvote?(current_user) == false %>
             <span class="fas fa-caret-up upvote-question" style="pointer-events: none;"></span>
             <p class="upvotes_count" style="margin-bottom: 0;"><%= @question.upvotes_count %></p>
             <span class="fas fa-caret-down undownvote-question" style="color: orange;"></span>

           <% else %>
            <span class="fas fa-caret-up upvote-question"></span>
            <p class="upvotes_count" style="margin-bottom: 0;"><%= @question.upvotes_count %></p>
            <span class="fas fa-caret-down downvote-question"></span>

          <% end %>
        </div>
        <div class="favorite">
            <i class="unfavorite-btn fas fa-heart text-danger"></i>
            <i class="favorite-btn fas fa-heart"></i>
          <p class="favorites_count"><%= @question.favorites_count %></p>
        </div>
      </div>
      <div class="col-9" style="margin-top: 20px;">
        <%= @question.content %>
      </div>
      <div class="col-2" style="margin-top: 20px;">
        <div class="user-box">
          <%= link_to user_path(@question.user) do %>
            <div class="user">
              <div class="user-avatar">
                <%= image_tag @question.user.avatar,width: '40px',height: '40px' if @question.user.avatar? %>
                <%= image_tag "http://via.placeholder.com/40x40", class: "rounded"  unless @question.user.avatar?%>
              </div>
              <div class="user-name">
                <h6><%= @question.user.name.upcase_first %></h6>
              </div>
            </div>
            <% end %>
            <div class="action-time">
              <em><%= @question.created_at.to_s[0..15] %></em>
            </div>
          </div>
      </div>
    </div>

    <div class="solutions" style="width: 98%; margin-left: 1%; margin-top: 40px;"><!-- solutions/frontend - start -->
      <h4><%= @question.solutions.count %> Solutions</h4>
      <hr style="margin-top: 0px;">

      <% @solution_by_upvote.each do |solution| %>
      <div class="row"   id="<%= solution.id %>">
        <div class="col-1 q-info">
          <div class="vote solution-vote">
            
          <% if solution.have_voted?(current_user) && solution.voted_upvote?(current_user) == true %>
            <span class="fas fa-caret-up unupvote-solution" style="color: orange;"></span>
            <p class="upvotes_count" style="margin-bottom: 0;"><%= solution.upvotes_count %></p>
            <span class="fas fa-caret-down downvote-solution" style="pointer-events: none;"></span>

          <% elsif solution.have_voted?(current_user) && solution.voted_upvote?(current_user) == false %>
             <span class="fas fa-caret-up upvote-solution" style="pointer-events: none;"></span>
             <p class="upvotes_count" style="margin-bottom: 0;"><%= solution.upvotes_count %></p>
             <span class="fas fa-caret-down undownvote-solution" style="color: orange;"></span>

           <% else %>
            <span class="fas fa-caret-up upvote-solution"></span>
            <p class="upvotes_count" style="margin-bottom: 0;"><%= solution.upvotes_count %></p>
            <span class="fas fa-caret-down downvote-solution"></span>

          <% end %>

          </div>
        </div>

        <div class="col-9" style="margin-top: 20px;">
          <%= solution.content %>
        </div>

        <div class="col-2" style="margin-top: 20px;">
          <div class="user-box">
            <%= link_to user_path(solution.user) do %>
              <div class="user">
                <div class="user-avatar">
                  <%= image_tag solution.user.avatar,width: '40px',height: '40px' if solution.user.avatar? %>
                  <%= image_tag "http://via.placeholder.com/40x40", class: "rounded"  unless solution.user.avatar?%>
                </div>
                <div class="user-name">
                  <h6><%= solution.user.name.upcase_first %></h6>
                </div>
              </div>
            <% end %>
            <div class="action-time">
              <em><%= solution.created_at.to_s[0..15] %></em>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <% end %>
    </div>

    <div class="post-solution" style="width: 98%; margin-left: 1%; margin-top: 40px;">
      <%= form_for [@question, @solution] do |f| %>
        <div class="form-group">
          <%= f.text_area :content, placeholder: "請在這裡輸入你想回答的敘述", class: "form-control", style: 'height: 100px' %>
        </div>
        <div class="form-group float-right">
          <%= f.submit "提交你的回答", class: "btn btn-info" %>
          <%= f.button "清空回答", type: :reset, class: "btn btn-default", style:'color: #17a2b8;' %>
        </div>
      <% end %>
    </div><!-- solutions/frontend - end -->
</div><!-- container - end -->


<!-- qusetion-vote/frontend - start -->
<script>
  //投贊成票
$(".question-vote").on('click', '.upvote-question', function(event){
  var question_id = event.target.parentNode.parentNode.parentNode.id;
  console.log(question_id);
    $.ajax({
      url: "/questions/" + question_id + "/upvote" ,
      method: "POST",
      dataType: "json",
      success: function(data) {
        var votes_count = data["q_upvotes_count"];
        console.log(votes_count);

        $(".question").find(".question-vote").html("<span class=\"fas fa-caret-up unupvote-question\" style=\"color: orange;\"></span>");
        $(".question").find(".question-vote").append("<p class=\"upvotes_count\" style=\"margin-bottom: 0;\"></p>");
        $(".question").find(".upvotes_count").html(votes_count);
        $(".question").find(".question-vote").append("<span class=\"fas fa-caret-down downvote-question\"></span>");
        $(".downvote-question").css("pointer-events", "none");

        console.log(question_id);
      }
    });
});
  //取消贊成票
$(".question-vote").on('click', '.unupvote-question', function(event){
  var question_id = event.target.parentNode.parentNode.parentNode.id;
  console.log(question_id);
    $.ajax({
      url: "/questions/" + question_id + "/unupvote" ,
      method: "POST",
      dataType: "json",
      success: function(data) {
        var votes_count = data["q_upvotes_count"];
        console.log(votes_count);

        $(".question").find(".question-vote").html("<span class=\"fas fa-caret-up upvote-question\"></span>");
        $(".question").find(".question-vote").append("<p class=\"upvotes_count\" style=\"margin-bottom: 0;\"></p>");
        $(".question").find(".upvotes_count").html(votes_count);
        $(".question").find(".question-vote").append("<span class=\"fas fa-caret-down downvote-question\"></span>");

        console.log(question_id);
      }
    });
});

  //投反對票
$(".question-vote").on('click', '.downvote-question', function(event){
  var question_id = event.target.parentNode.parentNode.parentNode.id;
  console.log(question_id);
    $.ajax({
      url: "/questions/" + question_id + "/downvote" ,
      method: "POST",
      dataType: "json",
      success: function(data) {
        var votes_count = data["q_upvotes_count"];
        console.log(votes_count);

        $(".question").find(".question-vote").html("<span class=\"fas fa-caret-up upvote-question\"></span>");
        $(".question").find(".question-vote").append("<p class=\"upvotes_count\" style=\"margin-bottom: 0;\"></p>");
        $(".question").find(".upvotes_count").html(votes_count);
        $(".question").find(".question-vote").append("<span class=\"fas fa-caret-down undownvote-question\" style=\"color: orange;\"></span>");
        $(".upvote-question").css("pointer-events", "none");

        console.log(question_id);
      }
    });
});

  //取消反對票
$(".question-vote").on('click', '.undownvote-question', function(event){
  var question_id = event.target.parentNode.parentNode.parentNode.id;
  console.log(question_id);
    $.ajax({
      url: "/questions/" + question_id + "/undownvote" ,
      method: "POST",
      dataType: "json",
      success: function(data) {
        var votes_count = data["q_upvotes_count"];
        console.log(votes_count);

        $(".question").find(".question-vote").html("<span class=\"fas fa-caret-up upvote-question\"></span>");
        $(".question").find(".question-vote").append("<p class=\"upvotes_count\" style=\"margin-bottom: 0;\"></p>");
        $(".question").find(".upvotes_count").html(votes_count);
        $(".question").find(".question-vote").append("<span class=\"fas fa-caret-down downvote-question\"></span>");

        console.log(question_id);
      }
    });
});
</script>


<!-- solution-vote/frontend - start -->
<script>
  //投贊成票
$(".solution-vote").on('click', '.upvote-solution', function(event){
  var solution_id = event.target.parentNode.parentNode.parentNode.id;
  console.log(solution_id);
    $.ajax({
      url: "/solutions/" + solution_id + "/upvote" ,
      method: "POST",
      dataType: "json",
      success: function(data) {
        var votes_count = data["s_upvotes_count"];
        console.log(votes_count);


        $(".solutions").find("#" + solution_id).find(".solution-vote").html("<span class=\"fas fa-caret-up unupvote-solution\" style=\"color: orange;\"></span>");
        $(".solutions").find("#" + solution_id).find(".solution-vote").append("<p class=\"upvotes_count\" style=\"margin-bottom: 0;\"></p>");
        $(".solutions").find("#" + solution_id).find(".upvotes_count").html(votes_count);
        $(".solutions").find("#" + solution_id).find(".solution-vote").append("<span class=\"fas fa-caret-down downvote-solution\"></span>");
        $(".solutions").find("#" + solution_id).find(".downvote-solution").css("pointer-events", "none");

        console.log(solution_id);
      }
    });
});
  //取消贊成票
$(".solution-vote").on('click', '.unupvote-solution', function(event){
  var solution_id = event.target.parentNode.parentNode.parentNode.id;
  console.log(solution_id);
    $.ajax({
      url: "/solutions/" + solution_id + "/unupvote" ,
      method: "POST",
      dataType: "json",
      success: function(data) {
        var votes_count = data["s_upvotes_count"];
        console.log(votes_count);

         $(".solutions").find("#" + solution_id).find(".solution-vote").html("<span class=\"fas fa-caret-up upvote-solution\"></span>");
         $(".solutions").find("#" + solution_id).find(".solution-vote").append("<p class=\"upvotes_count\" style=\"margin-bottom: 0;\"></p>");
        $(".solutions").find("#" + solution_id).find(".upvotes_count").html(votes_count);
        $(".solutions").find("#" + solution_id).find(".solution-vote").append("<span class=\"fas fa-caret-down downvote-solution\"></span>");

        console.log(solution_id);
      }
    });
});

  //投反對票
$(".solution-vote").on('click', '.downvote-solution', function(event){
  var solution_id = event.target.parentNode.parentNode.parentNode.id;
  console.log(solution_id);
    $.ajax({
      url: "/solutions/" + solution_id + "/downvote" ,
      method: "POST",
      dataType: "json",
      success: function(data) {
        var votes_count = data["s_upvotes_count"];
        console.log(votes_count);

        $(".solutions").find("#" + solution_id).find(".solution-vote").html("<span class=\"fas fa-caret-up upvote-solution\"></span>");
       $(".solutions").find("#" + solution_id).find(".solution-vote").append("<p class=\"upvotes_count\" style=\"margin-bottom: 0;\"></p>");
        $(".solutions").find("#" + solution_id).find(".upvotes_count").html(votes_count);
        $(".solutions").find("#" + solution_id).find(".solution-vote").append("<span class=\"fas fa-caret-down undownvote-solution\" style=\"color: orange;\"></span>");
         $(".solutions").find("#" + solution_id).find(".upvote-solution").css("pointer-events", "none");

        console.log(solution_id);
      }
    });
});

  //取消反對票
$(".solution-vote").on('click', '.undownvote-solution', function(event){
  var solution_id = event.target.parentNode.parentNode.parentNode.id;
  console.log(solution_id);
    $.ajax({
      url: "/solutions/" + solution_id + "/undownvote" ,
      method: "POST",
      dataType: "json",
      success: function(data) {
        var votes_count = data["s_upvotes_count"];
        console.log(votes_count);

      $(".solutions").find("#" + solution_id).find(".solution-vote").html("<span class=\"fas fa-caret-up upvote-solution\"></span>");
      $(".solutions").find("#" + solution_id).find(".solution-vote").append("<p class=\"upvotes_count\" style=\"margin-bottom: 0;\"></p>");
      $(".solutions").find("#" + solution_id).find(".upvotes_count").html(votes_count);
      $(".solutions").find("#" + solution_id).find(".solution-vote").append("<span class=\"fas fa-caret-down downvote-solution\"></span>");

        console.log(solution_id);
      }
    });
});
</script>