<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">

      <h2 style="text-align: center;">Sign up</h2>
      <br>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder:"UserName", class: 'form-control', id:'username' %>
        <div id = "feedback"></div>
        </div>
        <hr style="width: 60%;">
        <div class="field">
          <%= f.email_field :email, autocomplete: "email", placeholder:"E-mail", class: 'form-control' %>
        </div>
        <br>
        <div class="field">
          <%= f.password_field :password, autocomplete: "off", placeholder:"Password (6 characters minimum) ", class: 'form-control' %>
        </div>
        <br>
        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off", placeholder:"Password Confirmation", class: 'form-control' %>
        </div>
        <br>
        <div class="actions">
          <%= f.submit "Sign up", class:'btn btn-success login-btn' %>
          <%= link_to "Log in", new_session_path(resource_name), class:'btn btn-secondary login-btn' %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<script>
  function checkUsername() {
    var username = el.value;
    if (username.length < 5) {
      el.className = 'is-invalid form-control';
      elMsg.className = "invalid-feedback";
      elMsg.textContent = 'Not long enough'
    } else {
      el.className = 'is-valid form-control';
      elMsg.className = "valid-feedback";
      elMsg.textContent = 'You can use this name';
    }
  }

  function tipUsername() {
    elMsg.className = 'tip';
    elMsg.innerHTML = 'Username must be at least 5 char';
  }

  var el = document.getElementById('username');
  var elMsg = document.getElementById('feedback');

  el.addEventListener('focus', tipUsername, false);
  el.addEventListener('blur', checkUsername, false);
</script>
