<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand mx-auto" href="/">
    Stackoverflow<i class="fab fa-stack-overflow"></i>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
          </li>
      </ul>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <% if current_user %>
        <li class="nav-item">
          <span class="navbar-text" style="margin-right:25px;">Hi, <%= current_user.name.upcase_first %></span>
        </li>
        <li class="nav-item">
          <span class="navbar-text" style="margin-right:25px;"><%= link_to "個人資料", user_path(current_user) %></span>
        </li>
        <li class="nav-item">
          <%= link_to('<i class="fas fa-sign-out-alt"></i> Logout'.html_safe, destroy_user_session_path, method: :delete, class:'nav-link') %>
        </li>
        <% else %>
        <li class="nav-item">
          <%= link_to('<i class="fas fa-user-plus"></i> Signup'.html_safe, new_user_registration_path, class:'nav-link') %>
        </li>
          <li class="nav-item">
            <%= link_to('<i class="fas fa-sign-in-alt"></i> Login '.html_safe, new_user_session_path, class:'nav-link') %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>